/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    background-size: cover; /* Cover the entire screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeating */
    margin: 0;
    padding: 0;
    z-index:-1;
    background-attachment:fixed
}

/* Main Content */
.main-content {
    width: 80%;
}

.info-box {
    background: rgba(239, 242, 239, 0.6);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}